<div class='row'>
    <div class='col-12 mb-2 text-danger lead'>
        {{error}}
    </div>
</div>
<div class='row'>
    <h3 class='col-12'>Available Users</h3>
    <div class='col-3'>
        <table class='table'>
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let user of online_users'>
                    <td><a [routerLink]='["/chat", user.id]' class='text-secondary'>{{user.username}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='col-9'>
    </div>
</div>
